
<section class="alinhar">
  <div class="tamanho-input">
    <input placeholder="Buscar Pokemon.." class="btn">
    <img class="lupa" src="../../../assets/img/lupa-pesquisa.png" alt="Lupa de pesquisa">
  </div>
  <div class="ajustar">
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Bulbasaur</h1>
        <p class="text-carac">Grass</p>
        <p class="text-carac">Poison</p>
      </div>
      <img class="img-card" src="../../../assets/img/bulbasaur.png" alt="Bulbasaur">
    </div>
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Ivysaur</h1>
        <p class="text-carac">Grass</p>
        <p class="text-carac">Poison</p>
      </div>
      <img class="img-card" src="../../../assets/img/ivysaur.png" alt="Ivysaur">
    </div>
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Venusaur</h1>
        <p class="text-carac">Grass</p>
        <p class="text-carac">Poison</p>
      </div>
      <img class="img-card" src="../../../assets/img/venusaur.png" alt="Venusaur">
    </div>
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Charmander</h1>
        <p class="text-carac">Fire</p>
      </div>
      <img class="img-card" src="../../../assets/img/Charmander.png" alt="Charmander">
    </div>
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Charmeleon</h1>
        <p class="text-carac">Fire</p>

      </div>
      <img class="img-card" src="../../../assets/img/Charmeleon.png" alt="Charmeleon">
    </div>
    <div class="card-white">
      <div class="pos-text">
        <h1 class="text-nome">Charizard</h1>
        <p class="text-carac">Fire</p>
      </div>
      <img class="img-card" src="../../../assets/img/Charizard.png" alt="Charizard">
    </div>
  </div>
</section>
